* {
  font-family: "munky", Sans-serif;
}

.i-onepage {
  background-color: #fff;
  color: #1e2818;
}


.restaurant_selection .restaurants .active a, .restaurant_selection .restaurants a:focus, .restaurant_selection .restaurants a:hover {
  background-color: #1e2818;
  color: #b9f294;
}

.btn-primary {
  background-color: #1e2818;
  color: #b9f294;
}

.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover {
  background-color: #b9f294;
  color: #1e2818;
}

